<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>注文のキャンセル完了</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>以下の注文をキャンセルしました。</h3>
		<br />
		<table>
			<tr>
				<th>注文者ID</th>
				<td>someone@example.com</td>
			</tr>
			<tr>
				<th>注文日</th>
				<td>2014/3/15</td>
			</tr>
			<tr>
				<th>購入商品</th>
				<td>
					<table>
						<tr>
							<th>商品名</th>
							<th>色</th>
							<th>メーカー</th>
							<th>単価</th>
							<th>数量</th>
						</tr>
						<tr>
							<td>麦わら帽子</td>
							<td>黄色</td>
							<td>日本帽子製造</td>
							<td>4980円</td>
							<td>2 個</td>
						</tr>
						<tr>
							<td>子ども用麦わら帽子</td>
							<td>赤</td>
							<td>東京帽子店</td>
							<td>2980円</td>
							<td>3 個</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th>配送先</th>
				<td>自宅</td>
			</tr>
		</table>
		<br />
		<a href='main.html'>管理者メインページ</a>へ<br />
	</body>
</html>