<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>会員の削除確認</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>以下の会員を削除しますか？</h3>
		<br />
		<table>
			<tr>
				<th>会員ID</th>
				<td>someone@example.com</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>テスト太郎</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>東京都千代田区１－１－１</td>
			</tr>
			<tr>
				<form action='deleteUserCommit.html' method='POST'>
					<td colspan='2'><input type='submit' value='削除' /></td>
				</form>
			</tr>
		</table>
		<br />
		<a href='main.html'>管理者メインページ</a>へ<br />
	</body>
</html>