<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>商品の登録確認</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>以下の商品を登録しますか？</h3>
		<br />
		<form action='registerItemCommit.html' method='POST'>
			<table>
				<tr>
					<th>商品名</th>
					<td>シルクハット</td>
				</tr>
				<tr>
					<th>商品の色</th>
					<td>黒</td>
				</tr>
				<tr>
					<th>メーカー名</th>
					<td>イギリス屋</td>
				</tr>
				<tr>
					<th>カテゴリ</th>
					<td>帽子</td>
				</tr>
				<tr>
					<th>オススメ</th>
					<td>オススメしない</td>
				</tr>
				<tr>
					<th>価格</th>
					<td>20000 円</td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td>1000 個</td>
				</tr>
				<tr>
					<td colspan='2'><input type='submit' value='登録' /></td>
				</tr>
			</table>
		</form>
		<a href='main.html'>管理者メインページ</a>へ<br />
	</body>
</html>