<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>商品の登録情報変更完了</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>以下の商品の登録情報の変更を完了しました。</h3>
		<br />
		<table>
			<tr>
				<th>商品名</th>
				<td>麦わら帽子</td>
			</tr>
			<tr>
				<th>商品の色</th>
				<td>黄色</td>
			</tr>
			<tr>
				<th>メーカー名</th>
				<td>日本帽子製造</td>
			</tr>
			<tr>
				<th>カテゴリ</th>
				<td>帽子</td>
			</tr>
			<tr>
				<th>オススメ</th>
				<td>オススメしない</td>
			</tr>
			<tr>
				<th>価格</th>
				<td>4980 円</td>
			</tr>
			<tr>
				<th>在庫数</th>
				<td>12 個</td>
			</tr>
		</table>
		<br />
		<a href='main.html'>管理者メインページ</a>へ<br />
	</body>
</html>