<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>会員情報の更新完了</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>以下の会員情報で更新しました。</h3>
		<br />
		<table>
			<tr>
				<th>会員ID</th>
				<td>someone@example.com</td>
			</tr>
				<th>パスワード</th>
				<td>********</td>
			</tr>
			<tr>
				<th>お名前</th>
				<td>テスト太郎</td>
			</tr>
			<tr>
			<tr>
				<th>ご住所</th>
				<td>東京都千代田区１－１－１</td>
			</tr>
		</table><br />
		<a href='main.html'>管理者メインページ</a>へ<br />
	</body>
</html>