{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>購入履歴</title>
		<link rel='stylesheet' type='text/css' href='{% static "shopping/css/style.css" %}' />
	</head>
	<body>
		<h3>購入履歴の一覧</h3>
		<br />
		<table>
			<tr>
				<th>注文日</th>
				<th>購入商品</th>
				<th>配送先</th>
				<th></th>
			</tr>
			{%for line in form_purchase%}
			<tr>
				<td>{{line.booked_date}}</td>
				<td>
					<table>
						<tr>
							<th>商品名</th>
							<th>色</th>
							<th>メーカー</th>
							<th>単価</th>
							<th>数量</th>
						</tr>
						{%for detail in line.detail%}
						<tr>
							<td>{{detail.name}}</td>
							<td>{{detail.color}}</td>
							<td>{{detail.manufacturer}}</td>
							<td>{{detail.price}}円</td>
							<td>{{detail.amount}}個</td>
						</tr>
						{% endfor %}
					</table>
				</td>
				<td>{{line.destination}}</td>
				<td><a href='/shopping/purchaseCancel/{{line.purchase_id}}/'>キャンセル</a></td>
			</tr>
			{% endfor %}
		</table>
		<br /><br />
		<a href='/'>商品検索</a>へ<br />
	</body>
</html>