{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>商品の購入確認</title>
		<link rel='stylesheet' type='text/css' href='{% static "shopping/css/style.css" %}' />
	</head>
	<body>
		<h3>以下の商品を購入しますか？</h3>
		<br />
		<table>
			<tr>
				<th>商品名</th>
				<th>商品の色</th>
				<th>メーカー名</th>
				<th>単価</th>
				<th>数量</th>
			</tr>
			{%for line in form%}
			<tr>
				<td>{{line.name}}</td>
				<td>{{line.color}}</td>
				<td>{{line.manufacturer}}</td>
				<td>{{line.price}}円</td>
				<td>{{line.amount}}個</td>
			</tr>
			{% endfor %}
		</table>
		{% if total_price %}
		合計 {{ total_price }} 円<br />
		{% endif %}
		<form action='/shopping/purchaseCommit/' method='POST'>
			{% csrf_token %}
			清算方法<br />
			<select name='payment'>
				<option selected>代金引換</option>
			</select><br /><br />
			配送先<br />
			<input type='radio' name='destination' value='registered' checked />ご自宅<br /><br />
			<input type='radio' name='destination' value='another' />配送先を指定<br />
			ご住所<br />
			<input type='text' name='address' /><br /><br />
			購入しますか？<br />
			<input type='submit' value='購入する' />
		</form>
		<br /><br />
		<a href='/'>商品検索</a>へ<br />
	</body>
</html>