body {
	font-family: 'Meiryo';
	background-color: #fcfcfc;
}

.content {
    margin: auto;
	width: 70%;
}

h3 {
	text-align: center;
}

.form, .article, .error {
	background-color: #ffffff;
	border: solid 1px #eeeeee;
    padding: 30px;
	margin-bottom: 30px;
}

.error {
	color: red;
	background-color: #fbf2f2;
	border: 1px solid red;
}

.comment {
	border-top: 1px dashed gray;
	margin: 20px 0 20px 20px;
	padding: 20px 0;
}

.comment_form {
	margin: 20px 0 20px 20px;
}

.form form {
	text-align: center;
}

.delete_form {
	text-align: right;
}

input, textarea {
	border: 1px solid #666666;
	width: 300px;
	padding: 10px;
}

input[type=submit] {
	color: #ffffff;
	width: 100px;
}

input[type=password] {
	width: 150px;
}

.form input[type=submit] {
	border: 1px solid #60ccb7;
	background-color: #60ccb7;
	margin: 10px;
}
.form input[type=submit]:hover {
	color: #60ccb7;
	background-color: #ffffff;
}

.article_content input[type=submit], .comment input[type=submit]:hover {
	color: #ffffff;
	border: 1px solid #63a5c9;
	background-color: #63a5c9;
}
.article_content input[type=submit]:hover, .comment input[type=submit] {
	color: #63a5c9;
	border: 1px solid #63a5c9;
	background-color: #ffffff;
}

.comment_form input[type=submit] {
	border: 1px solid #f9aa33;
	background-color: #f9aa33;
    margin: 10px;
}
.comment_form input[type=submit]:hover {
	color: #f9aa33;
	background-color: #ffffff;
}
